@media (max-width: 600px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  .wrapper {
    align-items: center;
    margin: 0;
  }

  header {
    height: 40px;
  }

  h1 {
    padding: 5px;
    font-size: 150%;
  }

  main {
    width: 100%;
    flex-direction: column;
  }

  section {
    width: 100%;
    flex: none;
    padding: 0;
  }

  .game-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  aside {
    flex: none;
    justify-content: center;
    align-items: center;
    padding: 0;
    height: 60px;
    min-height: 60px;
  }

  aside button.new {
    margin: 0;
  }

  .info {
    width: 100%;
    justify-content: space-evenly;
    margin: 0;
    padding: 20px 0;
  }

  .game, .play, .pause {
    display: flex;
    justify-content: center;
    margin: 0;
  }

  .mob-controller {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: white;
  }

  .touch-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 160px;
    background-color: rgb(246, 227, 181);
  }

  footer {
    width: 100%;
    padding: 5px 20px;
    justify-content: space-around;
    border-top: 0.25px solid rgb(175, 175, 175);
  }

  .copyright {
    width: 32%;
    display: flex;
    flex-direction: column-reverse;
    font-size: 12px;

  }

  .copyright a {
  	margin-left: 0px;
  }

  .year-copyright {
    padding-top: 5px;
  }

  .share {
    width: 55%;
  }

  .share a {
    margin: 0;
  }

}
